<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
  <title>Профиль пользователя</title>
  <link rel="stylesheet" th:href="@{/styles.css}" />
</head>

<body>

<div>
  Имя: <span th:text="${userInfo.name}">Неизвестно</span><br>
  Фамилия: <span th:text="${userInfo.surname}">Неизвестно</span><br>
  Отчество: <span th:text="${userInfo.patronymic}">Неизвестно</span><br>
  Почта: <span th:text="${userInfo.email}">Неизвестно</span><br>
  Должность: <span th:text="${userInfo.role}">Неизвестно</span><br>
  Факультет: <span th:text="${userInfo.faculty}">Неизвестно</span><br>
  Специальность: <span th:text="${userInfo.specialization}">Неизвестно</span><br>
  Курс: <span th:text="${userInfo.course}">Неизвестно</span><br>
  Номер группы: <span th:text="${userInfo.groupNum}">Неизвестно</span><br>
  Дополнительная информация: <span th:text="${userInfo.info}">Неизвестно</span><br>
  Время обновления: <span th:text="${userInfo.updatingTime}">Неизвестно</span><br>
  Активен: <span th:text="${isEnable}">Неизвестно</span>

  <div th:if="${userInfo.hasPhoto()}">
    <img th:src="'/img/' + ${userInfo.photo.name}" alt="" src="">
  </div>
  
</div>

<a th:href="'/userInfo/' + ${userInfo.id} + '/edit'">Редактировать пользователя</a>
<br>
<a th:if="${!isDelete}" th:href="'/userInfo/' + ${userInfo.id} + '/delete'">Удалить пользователя</a>
<a th:if="${isDelete}" th:href="'/userInfo/' + ${userInfo.id} + '/recover'">Восстановить пользователя</a>


</body>
</html>